* text=auto !eol
/CMakeLists.txt -text
artwork/logo.png -text
artwork/logo.svg -text
artwork/q3ut_logo.png -text
artwork/q3ut_logo.svg -text
/build_gcc_linux_debug -text
/build_gcc_linux_release -text
/build_mingw_release.bat -text
/build_msys_release.bat -text
/distclean -text
distrib/arch/PKGBUILD -text
distrib/rpm/build_rpm -text
distrib/rpm/urtconnector.spec -text
distrib/windows/urtconnector.nsi -text
doc/ExampleData/appdata.xml -text
doc/ExampleData/qstat_out.xml -text
doc/ExampleData/servers.xml -text
doc/class_model.xmi -text
doc/qstat_out.txt -text
/how_to_install.txt -text
/how_to_make_distrib.txt -text
src/CMakeLists.txt -text
src/aboutdialog.cpp -text
src/aboutdialog.h -text
src/aboutdialog.ui -text
src/app_options_saver.cpp -text
src/app_options_saver.h -text
src/application.cpp -text
src/application.h -text
src/appoptions.cpp -text
src/appoptions.h -text
src/debughelp.cpp -text
src/debughelp.h -text
src/exception.cpp -text
src/exception.h -text
src/icons/add.png -text
src/icons/application-exit.png -text
src/icons/bookmarks.png -text
src/icons/configure.png -text
src/icons/edit-clear-locationbar-rtl.png -text
src/icons/edit-find.png -text
src/icons/edit.png -text
src/icons/help-about.png -text
src/icons/help-contents.png -text
src/icons/launch.png -text
src/icons/logo.png -text
src/icons/remove.png -text
src/icons/status-offline.png -text
src/icons/status-online.png -text
src/icons/status-update.png -text
src/icons/urtconnector.png -text
src/icons/view-refresh.png -text
src/icons/visible-on.png -text
src/images.qrc -text
src/launcher.cpp -text
src/launcher.h -text
src/main.cpp -text
src/mainwindow.cpp -text
src/mainwindow.h -text
src/mainwindow.ui -text
src/optionsdialog.cpp -text
src/optionsdialog.h -text
src/optionsdialog.ui -text
src/playerinfo.cpp -text
src/playerinfo.h -text
src/pushbuttonactionlink.cpp -text
src/pushbuttonactionlink.h -text
src/qstatoptions.cpp -text
src/qstatoptions.h -text
src/server_info_html.cpp -text
src/server_info_html.h -text
src/serverid.cpp -text
src/serverid.h -text
src/serverinfo.cpp -text
src/serverinfo.h -text
src/serverlistcustom.cpp -text
src/serverlistcustom.h -text
src/serverlistqstat.cpp -text
src/serverlistqstat.h -text
src/serveroptions.cpp -text
src/serveroptions.h -text
src/servlistwidget.cpp -text
src/servlistwidget.h -text
src/servlistwidget.ui -text
src/servoptsdialog.cpp -text
src/servoptsdialog.h -text
src/servoptsdialog.ui -text
src/strconvert.h -text
src/urtconnector.desktop -text
src/xmlreaddata.cpp -text
src/xmlreaddata.h -text
translations/CMakeLists.txt -text
translations/urtconnector_ru.ts -text
/update_translations -text
