* text=auto !eol
/CMakeLists.txt -text
artwork/install-header.bmp -text
artwork/logo.png -text
artwork/logo.svg -text
artwork/q3ut_logo.png -text
artwork/q3ut_logo.svg -text
artwork/urtconnector.ico -text
/build_gcc_linux_debug -text
/build_gcc_linux_release -text
/build_mingw_release.bat -text
/build_msys_release.bat -text
/distclean -text
distrib/arch/stable/PKGBUILD -text
distrib/arch/svn/PKGBUILD -text
distrib/deb/build_deb.sh -text
distrib/deb/control -text
distrib/gentoo/urtconnector-9999.ebuild -text
distrib/rpm/build_rpm -text
distrib/rpm/urtconnector.spec -text
distrib/windows/urtconnector.nsi -text
doc/ExampleData/appdata.xml -text
doc/ExampleData/qstat_out.xml -text
doc/ExampleData/servers.xml -text
doc/class_model.xmi -text
doc/qstat_out.txt -text
/how_to_install.txt -text
/how_to_make_distrib.txt -text
src/CMakeLists.txt -text
src/about_dialog.cpp -text
src/about_dialog.h -text
src/about_dialog.ui -text
src/app_options.cpp -text
src/app_options.h -text
src/app_options_saver.cpp -text
src/app_options_saver.h -text
src/application.cpp -text
src/application.h -text
src/config.h.in -text
src/debug_help.cpp -text
src/debug_help.h -text
src/exception.cpp -text
src/exception.h -text
src/geoip/CMakeLists.txt -text
src/geoip/GeoIP_impl.c -text
src/geoip/GeoIP_impl.h -text
src/geoip/flags.qrc -text
src/geoip/flags/C.png -text
src/geoip/flags/ad.png -text
src/geoip/flags/ae.png -text
src/geoip/flags/af.png -text
src/geoip/flags/ag.png -text
src/geoip/flags/ai.png -text
src/geoip/flags/al.png -text
src/geoip/flags/am.png -text
src/geoip/flags/an.png -text
src/geoip/flags/ao.png -text
src/geoip/flags/ar.png -text
src/geoip/flags/as.png -text
src/geoip/flags/at.png -text
src/geoip/flags/au.png -text
src/geoip/flags/aw.png -text
src/geoip/flags/ax.png -text
src/geoip/flags/az.png -text
src/geoip/flags/ba.png -text
src/geoip/flags/bb.png -text
src/geoip/flags/bd.png -text
src/geoip/flags/be.png -text
src/geoip/flags/bf.png -text
src/geoip/flags/bg.png -text
src/geoip/flags/bh.png -text
src/geoip/flags/bi.png -text
src/geoip/flags/bj.png -text
src/geoip/flags/bm.png -text
src/geoip/flags/bn.png -text
src/geoip/flags/bo.png -text
src/geoip/flags/br.png -text
src/geoip/flags/bs.png -text
src/geoip/flags/bt.png -text
src/geoip/flags/bw.png -text
src/geoip/flags/by.png -text
src/geoip/flags/bz.png -text
src/geoip/flags/ca.png -text
src/geoip/flags/cc.png -text
src/geoip/flags/cd.png -text
src/geoip/flags/cf.png -text
src/geoip/flags/cg.png -text
src/geoip/flags/ch.png -text
src/geoip/flags/ci.png -text
src/geoip/flags/ck.png -text
src/geoip/flags/cl.png -text
src/geoip/flags/cm.png -text
src/geoip/flags/cn.png -text
src/geoip/flags/co.png -text
src/geoip/flags/cr.png -text
src/geoip/flags/cu.png -text
src/geoip/flags/cv.png -text
src/geoip/flags/cx.png -text
src/geoip/flags/cy.png -text
src/geoip/flags/cz.png -text
src/geoip/flags/de.png -text
src/geoip/flags/dj.png -text
src/geoip/flags/dk.png -text
src/geoip/flags/dm.png -text
src/geoip/flags/do.png -text
src/geoip/flags/dz.png -text
src/geoip/flags/ec.png -text
src/geoip/flags/ee.png -text
src/geoip/flags/eg.png -text
src/geoip/flags/eh.png -text
src/geoip/flags/er.png -text
src/geoip/flags/es.png -text
src/geoip/flags/et.png -text
src/geoip/flags/fi.png -text
src/geoip/flags/fj.png -text
src/geoip/flags/fk.png -text
src/geoip/flags/fm.png -text
src/geoip/flags/fo.png -text
src/geoip/flags/fr.png -text
src/geoip/flags/ga.png -text
src/geoip/flags/gb.png -text
src/geoip/flags/gd.png -text
src/geoip/flags/ge.png -text
src/geoip/flags/gh.png -text
src/geoip/flags/gi.png -text
src/geoip/flags/gl.png -text
src/geoip/flags/gm.png -text
src/geoip/flags/gn.png -text
src/geoip/flags/gp.png -text
src/geoip/flags/gq.png -text
src/geoip/flags/gr.png -text
src/geoip/flags/gt.png -text
src/geoip/flags/gu.png -text
src/geoip/flags/gw.png -text
src/geoip/flags/gy.png -text
src/geoip/flags/hk.png -text
src/geoip/flags/hn.png -text
src/geoip/flags/hr.png -text
src/geoip/flags/ht.png -text
src/geoip/flags/hu.png -text
src/geoip/flags/id.png -text
src/geoip/flags/ie.png -text
src/geoip/flags/il.png -text
src/geoip/flags/in.png -text
src/geoip/flags/iq.png -text
src/geoip/flags/ir.png -text
src/geoip/flags/is.png -text
src/geoip/flags/it.png -text
src/geoip/flags/jm.png -text
src/geoip/flags/jo.png -text
src/geoip/flags/jp.png -text
src/geoip/flags/ke.png -text
src/geoip/flags/kg.png -text
src/geoip/flags/kh.png -text
src/geoip/flags/ki.png -text
src/geoip/flags/km.png -text
src/geoip/flags/kn.png -text
src/geoip/flags/kp.png -text
src/geoip/flags/kr.png -text
src/geoip/flags/kw.png -text
src/geoip/flags/ky.png -text
src/geoip/flags/kz.png -text
src/geoip/flags/la.png -text
src/geoip/flags/lb.png -text
src/geoip/flags/lc.png -text
src/geoip/flags/li.png -text
src/geoip/flags/lk.png -text
src/geoip/flags/lr.png -text
src/geoip/flags/ls.png -text
src/geoip/flags/lt.png -text
src/geoip/flags/lu.png -text
src/geoip/flags/lv.png -text
src/geoip/flags/ly.png -text
src/geoip/flags/ma.png -text
src/geoip/flags/mc.png -text
src/geoip/flags/md.png -text
src/geoip/flags/me.png -text
src/geoip/flags/mg.png -text
src/geoip/flags/mh.png -text
src/geoip/flags/mk.png -text
src/geoip/flags/ml.png -text
src/geoip/flags/mm.png -text
src/geoip/flags/mn.png -text
src/geoip/flags/mo.png -text
src/geoip/flags/mq.png -text
src/geoip/flags/mr.png -text
src/geoip/flags/ms.png -text
src/geoip/flags/mt.png -text
src/geoip/flags/mu.png -text
src/geoip/flags/mv.png -text
src/geoip/flags/mw.png -text
src/geoip/flags/mx.png -text
src/geoip/flags/my.png -text
src/geoip/flags/mz.png -text
src/geoip/flags/na.png -text
src/geoip/flags/nc.png -text
src/geoip/flags/ne.png -text
src/geoip/flags/nf.png -text
src/geoip/flags/ng.png -text
src/geoip/flags/ni.png -text
src/geoip/flags/nl.png -text
src/geoip/flags/no.png -text
src/geoip/flags/np.png -text
src/geoip/flags/nr.png -text
src/geoip/flags/nu.png -text
src/geoip/flags/nz.png -text
src/geoip/flags/om.png -text
src/geoip/flags/pa.png -text
src/geoip/flags/pe.png -text
src/geoip/flags/pf.png -text
src/geoip/flags/pg.png -text
src/geoip/flags/ph.png -text
src/geoip/flags/pk.png -text
src/geoip/flags/pl.png -text
src/geoip/flags/pm.png -text
src/geoip/flags/pn.png -text
src/geoip/flags/pr.png -text
src/geoip/flags/ps.png -text
src/geoip/flags/pt.png -text
src/geoip/flags/pw.png -text
src/geoip/flags/py.png -text
src/geoip/flags/qa.png -text
src/geoip/flags/ro.png -text
src/geoip/flags/rs.png -text
src/geoip/flags/ru.png -text
src/geoip/flags/rw.png -text
src/geoip/flags/sa.png -text
src/geoip/flags/sb.png -text
src/geoip/flags/sc.png -text
src/geoip/flags/sd.png -text
src/geoip/flags/se.png -text
src/geoip/flags/sg.png -text
src/geoip/flags/sh.png -text
src/geoip/flags/si.png -text
src/geoip/flags/sk.png -text
src/geoip/flags/sl.png -text
src/geoip/flags/sm.png -text
src/geoip/flags/sn.png -text
src/geoip/flags/so.png -text
src/geoip/flags/sr.png -text
src/geoip/flags/st.png -text
src/geoip/flags/sv.png -text
src/geoip/flags/sy.png -text
src/geoip/flags/sz.png -text
src/geoip/flags/tc.png -text
src/geoip/flags/td.png -text
src/geoip/flags/tg.png -text
src/geoip/flags/th.png -text
src/geoip/flags/tj.png -text
src/geoip/flags/tk.png -text
src/geoip/flags/tl.png -text
src/geoip/flags/tm.png -text
src/geoip/flags/tmp -text
src/geoip/flags/tn.png -text
src/geoip/flags/to.png -text
src/geoip/flags/tp.png -text
src/geoip/flags/tr.png -text
src/geoip/flags/tt.png -text
src/geoip/flags/tv.png -text
src/geoip/flags/tw.png -text
src/geoip/flags/tz.png -text
src/geoip/flags/ua.png -text
src/geoip/flags/ug.png -text
src/geoip/flags/us.png -text
src/geoip/flags/uy.png -text
src/geoip/flags/uz.png -text
src/geoip/flags/va.png -text
src/geoip/flags/vc.png -text
src/geoip/flags/ve.png -text
src/geoip/flags/vg.png -text
src/geoip/flags/vi.png -text
src/geoip/flags/vn.png -text
src/geoip/flags/vu.png -text
src/geoip/flags/wf.png -text
src/geoip/flags/ws.png -text
src/geoip/flags/ye.png -text
src/geoip/flags/za.png -text
src/geoip/flags/zm.png -text
src/geoip/flags/zw.png -text
src/geoip/geoip.cpp -text
src/geoip/geoip.h -text
src/icons/add.png -text
src/icons/application-exit.png -text
src/icons/bookmarks.png -text
src/icons/close.png -text
src/icons/configure.png -text
src/icons/earth.png -text
src/icons/edit-clear-locationbar-rtl.png -text
src/icons/edit-find.png -text
src/icons/edit.png -text
src/icons/go-up.png -text
src/icons/help-about.png -text
src/icons/help-contents.png -text
src/icons/launch.png -text
src/icons/logo.png -text
src/icons/remove.png -text
src/icons/status-none.png -text
src/icons/status-offline.png -text
src/icons/status-online.png -text
src/icons/status-passwd.png -text
src/icons/status-update.png -text
src/icons/urtconnector.png -text
src/icons/view-refresh.png -text
src/icons/visible-on.png -text
src/images.qrc -text
src/item_view_dblclick_action_link.cpp -text
src/item_view_dblclick_action_link.h -text
src/job_update_from_master.cpp -text
src/job_update_from_master.h -text
src/job_update_selected.cpp -text
src/job_update_selected.h -text
src/jobs/job.cpp -text
src/jobs/job.h -text
src/jobs/job_item.ui -text
src/jobs/job_monitor.cpp -text
src/jobs/job_monitor.h -text
src/jobs/job_monitor.ui -text
src/jobs/job_queue.cpp -text
src/jobs/job_queue.h -text
src/launcher.cpp -text
src/launcher.h -text
src/main.cpp -text
src/main_window.cpp -text
src/main_window.h -text
src/main_window.ui -text
src/options_dialog.cpp -text
src/options_dialog.h -text
src/options_dialog.ui -text
src/player_info.cpp -text
src/player_info.h -text
src/pointers.h -text
src/push_button_action_link.cpp -text
src/push_button_action_link.h -text
src/qstat_options.cpp -text
src/qstat_options.h -text
src/qstat_updater.cpp -text
src/qstat_updater.h -text
src/server_id.cpp -text
src/server_id.h -text
src/server_info.cpp -text
src/server_info.h -text
src/server_info_html.cpp -text
src/server_info_html.h -text
src/server_list.cpp -text
src/server_list.h -text
src/server_list_saver.cpp -text
src/server_list_saver.h -text
src/server_list_widget.cpp -text
src/server_list_widget.h -text
src/server_list_widget.ui -text
src/server_options.cpp -text
src/server_options.h -text
src/server_options_dialog.cpp -text
src/server_options_dialog.h -text
src/server_options_dialog.ui -text
src/str_convert.h -text
src/urtconnector.desktop -text
translations/CMakeLists.txt -text
translations/urtconnector_ru.ts -text
/update_translations -text
/version -text
