QWidget
{
/*     background-color: hsv(206, 230, 80); */
    alternate-background-color: hsva(206, 230, 0, 40);
    color: white;
}

QMainWindow#MainWindowClass, QDialog
{
/*   border-image: url(/home/vlad/projects/urtconnector/doc/style_sheets/background.png) stretch stretch; */
    border-image: url(skin:background.png) stretch stretch;
}

QMainWindow
{
  border-width: 0px;
}

/* common frame */
QListView, QLineEdit, QSpinBox, QDoubleSpinBox, QTreeView, QTextEdit, QGroupBox, QPushButton, 
QToolButton[autoRaise="false"], QMenu, QSpinBox, QComboBox, QScrollBar, QScrollBar::handle,
QTabBar::tab, QTabBar/*, QTabWidget/* QTabWidget::pane*/
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}


QListView, QLineEdit, QSpinBox, QDoubleSpinBox, QTreeView, QTextEdit, QGroupBox, QPushButton, QToolButton[autoRaise="false"], QMenu, QSpinBox, QComboBox, QScrollBar 
{
    background-color: rgba(0, 0, 0, 150);
    border-radius: 3px;
    padding: 2 2;
}

/* highlight */
QPushButton:hover, QScrollBar::handle, QToolButton[autoRaise="false"]:hover, QTabBar::tab:hover
{
    background-color: hsva(240, 250, 200, 100);
}

QGroupBox
{
    padding-top: 20%;
    
    border-image: url(skin:tab.png) 0 0 0 0 repeat;
    background: url(skin:corner.png) no-repeat right bottom;
    
}

QGroupBox::title 
{
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 0 0;
    
}

QToolBar
{
  border-width: 0px;
}

 
QPushButton, QToolButton[autoRaise="false"] {
/*     background-color: rgba(0, 0, 0, 100); */
    padding: 5 5;
}

/*QPushButton:hover, QToolButton[autoRaise="false"] {
    background-color: rgba(50, 100, 255, 100);
}*/


QTabBar::tab 
{
    border-top-right-radius: 20px;
    padding: 4 10;
    border-bottom-width: 0px;
    
/*     background-color: rgba(0, 0, 0, 100); */
}

QTabBar::tab:selected 
{
    background-color: hsva(240, 250, 100, 100);
}

/*QTabWidget::pane {
   top: -1;
}*/



/* Scroll bar */

QScrollBar {
  min-width: 20px;
  border-radius: 0px;
/*     border-width: 1px; */
/*     border-style: solid; */
/*     border-color: white; */
/*     background-color: rgba(0, 0, 0, 100); */
    padding: 1 1;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}

QScrollBar:vertical {
    width: 15;
    margin: 20px 0px  20px 0;
    
    border-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}

QScrollBar:horizontal {
    height: 15;
    margin: 0px 20px 0px 20px;
    
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}


QScrollBar::sub-line:vertical {
    border-width: 1px;
    border-bottom-width: 0px;
    
    height: 19;
    
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 100);

    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    border-width: 1px;
    border-top-width: 0px;

    height: 19px;
    
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 100);

    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border-width: 1px;
    border-right-width: 0px;
    
    width: 19;
    
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 100);

    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
    border-width: 1px;
    border-left-width: 0px;

    width: 19px;
    
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 100);

    subcontrol-position: right;
    subcontrol-origin: margin;
}


QScrollBar::down-arrow, up-arrow, left-arrow, right-arrow {
    border-color: white;
    width: 15px;
    height: 15px;
}

QScrollBar::down-arrow { image: url(skin:downarrow.png); }
QScrollBar::up-arrow { image: url(skin:uparrow.png); }
QScrollBar::left-arrow { image: url(skin:leftarrow.png); }
QScrollBar::right-arrow { image: url(skin:rightarrow.png); }


 




QMenu 
{
    background-color: hsv(216, 230, 30);
/*    border-top-left-radius: 0px;
    border-top-right-radius: 0px;*/
}

QMenu::item:selected { 
  border-radius: 4px;
    background-color: hsv(240, 250, 200);
}

QMenuBar {
    background-color: transparent;
}

QMenuBar::item {
    padding: 1px 4px;
}

QMenuBar::item:selected, QMenuBar::item:pressed {
    background-color: rgba(0, 90, 255, 100);
} 

/*server_info_manager{
    background-color: rgba(0, 0, 0, 150);
}*/



 