[Desktop Entry]
Version=1.0
Name=UrTConnector
Name[ru]=UrTConnector
GenericName=UrbanTerror browser and launcher
GenericName[ru]=Просмотр игровых серверов и запуск UrbanTerror
Comment=UrbanTerror connector
Comment[ru]=Просмотр игровых серверов и запуск UrbanTerror
Exec=urtconnector
Icon=urtconnector
Terminal=false
Type=Application
Categories=Game;X-SuSE-Core-Game;
