[Desktop Entry]
Name=urtconnector
GenericName=UrbanTerror connector
Comment=UrbanTerror connector
Exec=urtconnector
Icon=/usr/share/icons/urtconnector.png
Terminal=false
Type=Application
Categories=Game;Tools;
