
[Desktop Entry]
Version=1.0
Name=urtconnector
GenericName=UrbanTerror connector
Exec=urtconnector
Terminal=false
Icon=/usr/share/icons/urtconnector.png
Type=Application
Categories=Game;ActionGame;
MimeType=text/html;text/xml;application/xhtml_xml;
